.playersBar {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 65px;
    background-color: rgba(172, 144, 99, 0.544);
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;

    max-width: 100%;

    span {
        font-size: 16px;
        margin: 12px 0 12px 0;
    }

    img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: solid 4px #ff5e2b;
        object-fit: cover;
        background-color: lightseagreen;
    }
}

.ifPlayerActive {
    background-color: rgb(255, 162, 0);
}

@media (max-width: 1140px) {
    .if-player-name-long {
        max-width: 65px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}