.play-field {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url('/assets/img/board.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-stack {
    position: relative;

    img {
        position: absolute;
        top: -45px;
        width: 170px;

        @media (max-width: 540px) {
            top: 50px;
            width: 70px;
            left: -151px;
        }
    }
}

.focus-top-card {
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover {
        transform: scale(1.1) translateY(-9px);
    }
}

.pick-card-animation {
    transform: scale(1.3) translateX(155px) translateY(-180px) rotate(-25deg);
    animation: card-flying 1.1s ease-in-out;
}

@keyframes card-flying {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.7);
    }

    100% {
        transform: scale(1.3) translateX(155px) translateY(-180px) rotate(-25deg);
    }
}

.played-card {
    right: 25px;
    transform: scale(1.3) translateX(155px) translateY(-180px) rotate(-25deg);
}

.btn-add {
    position: absolute;
    bottom: 32px;
    right: 32px;

    @media (max-width: 960px) {
        bottom: 24px;
        right: 22px;
        bottom: 160px;
    }
}

.task-card-bottom {
    position: absolute;
    bottom: 32px;
    right: 100px;
    left: 100px;
    height: 60px;
    border-radius: 16px;
    background-color: whitesmoke;
}

.players-wrapper-desktop {
    top: 8px;
    right: 0;
    max-height: 75%;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.playersPosition,
.playersPositionMobile {
    position: relative;
    z-index: 1;
}

.players-wrapper-mobile {
    top: 0;
    left: 16px;
    right: 16px;
    position: absolute;
    z-index: 1;
    display: flex;
    gap: 16px;
    overflow-x: auto;
    overflow-y: hidden;
}

app-players-mobile,
app-players {
    cursor: pointer;

    &:hover {
        filter: brightness(1.1);
    }
}

.game-over-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.2);

    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
}