<!--  Sidebar for added players, screen side right(desktop) -->
<div class="players-wrapper-desktop">
    <app-players (click)="editProfile(i)" *ngFor="let eachPlayer of game.players; let i = index" #desktopPlayer
        [name]="eachPlayer" [profileImage]="game.player_profile[i]" class="playersPosition hide-players-mobile"
        [ifPlayerActive]="i == game.currentPlayer">
    </app-players>
</div>

<!--  Sidebar for added players, top side (mobile)  -->
<div class="players-wrapper-mobile">
    <app-players-mobile (click)="editProfile(i)" *ngFor="let eachPlayer of game.players; let i = index" #mobilePlayer
        [name]="eachPlayer" [profileImage]="game.player_profile[i]" class="playersPositionMobile hide-players-desktop"
        [ifPlayerActive]="i == game.currentPlayer">
    </app-players-mobile>
</div>

<div *ngIf="gameOver" class="game-over-overlay">
    <img src="assets/img/game-over.jpg" alt="game-over-image">
</div>


<div *ngIf="!gameOver" class="play-field">
    <div class="card-stack">

        <!-- stack of cards, cover side -->
        @for (card of [0, 1, 2, 3]; track card ; let index = $index) {
        <img [ngStyle]="{'right.px': index * 5}" src="assets/img/playing_cards/card_cover.png"
            alt="each of all playing cards is displayed">
        }
        <img (click)="pickCard()" class="focus-top-card" style="right: 25px"
            src="assets/img/playing_cards/card_cover.png" alt="each of all playing cards is displayed">

        <!-- shows stack with played cards -->
        @for(card of game.playedCards; track card){
        <img class="played-card" src="assets/img/playing_cards/{{ card }}.png"
            alt="each of all playing cards is displayed">
        }
        <!--another For-Loop posibility:    
         <img *ngFor="let card of game.playedCards" class="played-card" src="assets/img/playing_cards/{{ card }}.png" alt="each of all playing cards is displayed"> -->


        <!-- shows picked card and then the animation (flying)  -->
        <img *ngIf="game.pickCardAnimation" [class.pick-card-animation]="game.pickCardAnimation" style="right: 25px"
            src="assets/img/playing_cards/{{ game.currentCard }}.png" alt="each of all playing cards is displayed">

    </div>

</div>

<app-tasks-for-players *ngIf="!gameOver" [card]="game.currentCard"></app-tasks-for-players>

<button *ngIf="!gameOver" mat-fab class="btn-add" (click)="openDialog()">
    <mat-icon>add</mat-icon>
</button>