* {
    box-sizing: border-box;
    margin: 0;
    font-family: Roboto;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.d-none {
    display: none;
}

.main-content {
    max-width: 1920px;
    margin: auto;
    position: relative;
}

@media (max-width: 1140px) {
    .hide-players-mobile {
        display: none;
    }
}

@media (min-width: 1140px) {
    .hide-players-desktop {
        display: none;
    }
}


@media (max-width: 1023px) and (orientation: landscape) {
    .main-content {
        opacity: 0;
        pointer-events: none;
    }

    .rotate-warning {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        width: 100%;
        height: 100vh;
        background-color: white;
        position: absolute;
        z-index: 3;
    }
}